<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/auth.css" type="text/css" media="all" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous" />
		<title>Register</title>
	</head>
	<body>
		<div class="auth-container">
			<div class="auth-card shadow-sm">
				<h1 class="mb-5">Register</h1>
				<form method="POST" action="/auth/login">
					<div class="auth-wrap">
						<div class="mb-3">
							<label for="username" class="form-label">Username</label>
							<input type="text" name="username" class="form-control" id="username" />
							<div id="userHelp" class="form-text">Masukan username anda</div>
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Password</label>
							<input
								type="password"
								name="password"
								class="form-control"
								id="password" />
							<div id="userHelp" class="form-text">Masukan password anda</div>
						</div>
						<div class="mb-3">
							<label for="email" class="form-label">Email</label>
							<input type="email" name="email" class="form-control" id="email" />
							<div id="emailHelp" class="form-text">Masukan email anda</div>
						</div>
						<div class="mb-3">
							<label for="phone" class="form-label">Phone</label>
							<input type="text" name="phone" class="form-control" id="phone" />
							<div id="phoneHelp" class="form-text">Masukan nomer anda</div>
						</div>

						<button type="submit" class="mt-4 mb-3 btn">Register</button>

						<div class="instructions">
							<p>Sudah punya akun? <a href="/login">Login here</a></p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
